<div class="row blog-header">
    <div class="large-2 large-push-3 medium-12 center columns">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
    </div>
    <div class="large-4 large-pull-3 medium-12 center columns">
        <h2>{{@blog.title}}</h2>
        <p>{{@blog.description}}</p>
    </div>
</div>
<hr>